.toolbar {
    .spacer {
        flex: 1 1 auto;
    }
    .action-icon {
        padding: 0 30px;
        cursor: pointer;
    }
}

.button-float-add-post {
    position: fixed;
    top: 84px;
    right: 1vw;
}

.button-float-refresh {
    @extend .button-float-add-post;
    right: 5vw;
}