<div class="container-fluid custom-container">
    <mat-card>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h4>Welcome in WSB.NET Administrator</h4>
                    <p>If you are not a Admin, <br> gerra here :)</p>
                </div>
                <div class="col-1">
                    <mat-divider vertical class="vertical-divider"></mat-divider>
                </div>
                <div class="col-5">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Login" formControlName="loginField">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field>
                                        <input matInput type="password" placeholder="Password"
                                            formControlName="passwordField">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button mat-button>Sign in</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card>
</div>